<?php
# vim: ft=php

$header = <<<EOF
This file is part of m36/stringformatter.

(c) 36monkeys <https://36monkeys.com>

For the full copyright and license information, please view
the LICENSE file that was distributed with this source code.

@version 0.6.0
EOF;

$finder = PhpCsFixer\Finder::create()
    ->files()
    ->name('*.php')
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
;

/* fabpot/php-cs-fixer:^2.0-dev */
return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
    ->setRules(array(
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => array('syntax' => 'long'),
        'braces' => array('allow_single_line_closure' => true),
        'concat_space' => array('spacing' => 'one'),
        'elseif' => false,
        'heredoc_to_nowdoc' => true,
        'is_null' => array(),
        'mb_str_functions' => true,
        'modernize_types_casting' => true,
        'new_with_braces' => true,
        'no_mixed_echo_print' => array('use' => 'echo'),
        'not_operator_with_space' => false,
        'phpdoc_align' => false,
        'protected_to_private' => false,
        'header_comment' => array('header' => $header),
        'binary_operator_spaces' => array(
            'align_double_arrow' => false,
            'align_equals' => false,
        ),
		'ordered_imports' => true,
		'phpdoc_order' => true,
    ))
    ->setFinder($finder)
;
